
 <div id="content">
            <nav class = super>
                <!--Navigation bar/ links to other parts of website-->
        <%= link_to 'Home',  homepage_index_path %>
        <%= link_to 'Stats',  homepage_stat_path %>
        <%= link_to 'Tutorial', homepage_tutorial_path %>
        <%= link_to 'Workout',  homepage_progression_path %>
        <%= link_to 'About',  homepage_about_path %>
    </nav>
</br>
<h1>About us.</h1>
</br>
<p id=about>
We hold no ownership of this content. All content is owned by The Aasgaard Company and 
Mark Rippetoe of Starting Strength. This site is soley created to practice using 
ruby on rails, CSS and, HTML. It is in no way meant for ANY distribution what so 
ever. All information contained in this sight is soley for personal use and in no way 
to be used for any commercial purpose what so ever. This site is for private use only. 
In fact if you are reading this, and are not my teacher or teacher's assistants, please leave the site
and/or delete any content associated with it. Thank you.
</p>
