
<body>
    <div id="container">
        <div id="content">
            <nav class = super>
                <!--Navigation bar/ links to other parts of website-->
        <%= link_to 'Home',  homepage_index_path %>
        <%= link_to 'Stats',  homepage_stats_path %>
        <%= link_to 'Tutorial', homepage_tutorial_path %>
        <%= link_to 'Workout',  homepage_progression_path %>
        <%= link_to 'About',  homepage_about_path %>
    </nav>
    </br>
        <div id="header">
            <h1>Welcome to the Workout App!</h1>
        </div>
            <div id= "main">
                
                <h2>Homepage</h2>
                 
                 <p id=message>
                     Have you ever wanted to build strength, but did not know where to start? Then this app is for YOU!
                 </p>
                  <p id=message>
                    
        The goal of achieving physical fitness, although a very important
        one, can be a fairly daunting task to begin to tackle. Often 
        times the very idea of putting ourselves out there in the world 
        or even the gym can be a bit much. With the Starting Strength 
        App you can build strength, muscle and self confidence using hard
        work and some good old determination. We take all the guess work
        out of fitness allowing you to focus on whats important to you.
                 </p>
                 
                 
                <img src="https://cdn2.omidoo.com/sites/default/files/imagecache/full_width/images/bydate/201710/evermanguidetobodybuilding1.jpeg">
            </div>
            </div>
        <div id="footer">
           
        </div>
    </div>
</body>

