 <div id="content">
            <nav class = super>
                <!--Navigation bar/ links to other parts of website-->
        <%= link_to 'Home',  homepage_index_path %>
        <%= link_to 'Stats',  homepage_stat_path %>
        <%= link_to 'Tutorial', homepage_tutorial_path %>
        <%= link_to 'Workout',  homepage_progression_path %>
        <%= link_to 'About',  homepage_about_path %>
    </nav>
    
    </br>
    
<h1>Tutorials to tell you what to do!</h1>
<h2>Squat Tutorial</h2>
<iframe width="560" height="315" align="center" src="https://www.youtube.com/embed/QhVC_AnZYYM"  
frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
allowfullscreen ></iframe>

<h2>Deadlift Tutorial</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4AObAU-EcYE" 
frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe>

<h2>Bench Press Tutorial</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4T9UQ4FBVXI"
frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe>

<h2>Overhead Press Tutorial</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/CnBmiBqp-AI" 
frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
allowfullscreen></iframe>

<h2>Power Clean Tutorial</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/wIB_X2N6020" 
frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
allowfullscreen></iframe>