 <div id="content">
<%= render 'common/header' %>
<h1>This is where we will build the workouts out of.</h1>

<table style="width:60%", position="center">
  <tr>
   <th colspan="3">Week <%= @progression.weeks %></th>
    <th colspan="2">Day <%= @progression.day %></th>
  </tr>
  <tr>
    <th>Squats</th>
    <th>Deadlift</th> 
    <th>Benchpress</th>
    <th>Overhead Press</th>
    <th>Power Clean</th>
  </tr>
  <tr>
    <td><%= @progression.squats %></td>
    <td><%= @progression.deadlift %></td> 
    <td><%= @progression.benchpress %></td>
    <td><%= @progression.overheadpress %></td> 
    <td><%= @progression.powerclean %></td>
  </tr>
</table>

<%= form_for :progression, url: increment_progression_path do %>
    <input type="submit" value="next">
<% end %>

<%= form_for :progression, url: decrement_progression_path do %>
    <input type="submit" value="back">
<% end %>
<%= form_for :progression, url: restart_progression_path do %>
    <input type="submit" value="restart">
<% end %>
