

 <section id="show" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Do Work.</h2>
          <p class="text-white-50">
       <table class = "table" style="width:90%">
  <tr>
    <th colspan="5">Week <%= @progression.weeks %></th>
  </tr>
  <tr>
    <th colspan="5">Day <%= @progression.day %></th>
  </tr>
  <tr>
    <th>Exercise</th>
    <th>Weight</th>
    <th>Set</th>
    <th>Rep</th>
    <th>Rest Time (min)</th>
  </tr>
  <% if @progression.day%2 ==0 %>
  <tr>
    <td>Squats</td>
    <td><%= @progression.squats %></td>
    <td>5</td>
    <td>3</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Overhead Press</td>
    <td><%= @progression.overheadpress %></td>
    <td>5</td>
    <td>3</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Deadlift</td>
    <td><%= @progression.deadlift %></td>
    <td>1</td>
    <td>5</td>
    <td>4</td>
 </tr>

</table>
  <% elsif @progression.day%2 ==1 %>
  <tr>
    <td>Squats</td>
    <td><%= @progression.squats %></td>
    <td>5</td>
    <td>3</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Bench Press</td>
    <td><%= @progression.benchpress %></td> 
    <td>5</td>
    <td>3</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Power Clean</td>
    <td><%= @progression.powerclean %></td>
    <td>5</td>
    <td>5</td>
    <td>3</td>
  </tr>
</table>
 <% end %>
       
       
       
   

<%= form_for :progression, url: increment_progression_path do %>
    <input html_options={class:"btn btn-primary mx-auto"} type="submit" value="next" >
<% end %>

<%= form_for :progression, url: decrement_progression_path do %>
    <input type="submit" value="back">
<% end %>
<%= form_for :progression, url: restart_progression_path do %>
    <input type="submit" value="restart">
<% end %>

</p>
</div>
</div>
</div>
</section>
