<nav class = super>
    <ul class="nav  text-white btn btn-primary">
    <!--Navigation bar/ links to other parts of website-->
    <%= link_to 'Home',  homepage_index_path %>
    
    <%= link_to 'Tutorial', homepage_tutorial_path %>
    <%= link_to 'Workout',  my_progression_path %>
    <%= link_to 'About',  homepage_about_path %>
    </ul>
</nav>
</br>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
