<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
     <p class="navbar-text dropdown-toggle nav-pill pull-right" data-toggle="dropdown"></p>
 
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>

  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
    
 

      
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          

    
    <!--Navigation bar/ links to other parts of website-->
    <li class = nav-item><a><%= link_to 'Home',  homepage_index_path, html_options = {class:"nav-link"} %></a>
    </li>
    <li class = nav-item><a><%= link_to 'Tutorial', homepage_tutorial_path, html_options = {class:"nav-link"} %></a>
    </li>
    <li class = nav-item><a><%= link_to 'Workout',  my_progression_path, html_options = {class:"nav-link"} %></a>
    </li>
    <li class = nav-item><a><%= link_to 'About',  homepage_about_path, html_options = {class:"nav-link"} %></a>
    </li>
   

</br>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

        </ul>
      </div>
    </div>
  </nav>